site_name: TIL_OSM_Adapter_1-22_2_1
site_description: Documentation for TIL_OSM_Adapter_1-22_2_1
nav:
  - Home: index.md
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
