site_name: TIL_HSS_DiameterAdapter-25_11_1
site_description: Documentation for TIL_HSS_DiameterAdapter-25_11_1
nav:
  - Home: index.md
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
